/* Stylesheet by Jamp Vongkusolkit, 2019 */

/* adjusting popup content margins */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

/* positioning the panel */
#map {
    height: 400px;
    width: 100%;
    display: inline-block;
}

.range-slider {
    width: 200px;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
  width: 350px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}


.filter-control-container {
  width: 350px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}


.filter-legend-control-container {
  width: 350px;
  height: 30px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}
/* styles for slider and buttons */
#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}



#filter {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.filter-slider {
    width: 50%;
}
